body {
    background-color: rgb(0, 0, 0);
    scrollbar-width: thin;
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(128, 128, 128);
        border-radius: 0.25rem;
    }
}

:root {
    --foreground-color: rgb(212, 212, 212);
    --background-color: rgb(16, 16, 16);
    --input-bg-color: rgb(0, 0, 0);
    --border-color: rgb(110, 110, 110);
    --hover-highlight: rgb(48, 48, 48);
    --select-highlight: rgb(80, 80, 80);
}

:global {
    .btn {
        background-color: var(--background-color);
        color: var(--foreground-color);
        width: 100%;
        margin: 0;
        border-width: 1px;
        border: 1px solid var(--border-color);
        &:hover {
            background-color: var(--hover-highlight);
            border-color: var(--border-color);
            color: var(--foreground-color);
        }
        &:active,
        &.active,
        &:focus {
            background-color: var(--select-highlight) !important;
            color: var(--foreground-color) !important;
            border-color: var(--border-color) !important;
            box-shadow: none !important;
            z-index: 0 !important;
        }
    }
}
