:root {
    --background-color: rgb(0, 0, 0);
    --text-color: rgb(212, 212, 212);
    --window-bg-color: rgb(16, 16, 16);
    --input-bg-color: rgb(0, 0, 0);
    --border-color: rgb(110, 110, 110);
    --hover-highlight: rgb(48, 48, 48);
    --select-highlight: rgb(80, 80, 80);
    --scrollbar-color: rgb(128, 128, 128);
    --modal-overlay-color: rgba(0, 0, 0, 0.6);
    --grid-center-color: rgb(64, 64, 64);
    --grid-block-color: rgb(96, 96, 96);
    --grid-double-color: rgb(32, 32, 32);
    &[theme="yv"] {
        --background-color: #202529;
        --text-color: #ebf5ff;
        --window-bg-color: #343a3f;
        --input-bg-color: #4b5359;
        --border-color: #191c1e;
        --hover-highlight: #465056;
        --select-highlight: #68727c;
        --scrollbar-color: #68727c;
        --modal-overlay-color: #00000099;
        --grid-center-color: #68727c;
        --grid-block-color: #4C545C;
        --grid-double-color: #2A3035;
    }
}

body {
    background-color: var(--background-color);
    scrollbar-width: thin;
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-color);
        border-radius: 0.25rem;
    }
}

:global {
    .btn {
        background-color: var(--window-bg-color);
        color: var(--text-color);
        width: 100%;
        margin: 0;
        border-width: 1px;
        border: 1px solid var(--border-color);
        &:hover {
            background-color: var(--hover-highlight);
            border-color: var(--border-color);
            color: var(--text-color);
        }
        &:active,
        &.active,
        &:focus {
            background-color: var(--select-highlight) !important;
            color: var(--text-color) !important;
            border-color: var(--border-color) !important;
            box-shadow: none !important;
            z-index: 0 !important;
        }
    }

    .list-group-item {
        background-color: var(--window-bg-color);
        color: var(--text-color);
        width: 100%;
        border-radius: unset;
        padding: 0;
        border-width: 1px !important;
        z-index: 0;
        &:hover {
            background-color: var(--hover-highlight);
            z-index: 0;
        }
        &:focus {
            background-color: var(--window-bg-color);
            outline: 1px solid var(--border-color);
            z-index: 0;
        }
        &:active,
        &.active {
            background-color: var(--select-highlight);
            border-radius: unset;
            margin-top: 0 !important;
            border-width: 1px;
            outline: 1px solid var(--border-color);
            border-color: var(--select-highlight);
            z-index: 0;
        }
    }
}
