body {
    background-color: rgb(0, 0, 0);
}

:root {
    --foreground-color: rgb(212, 212, 212);
    --background-color: rgb(16, 16, 16);
    --border-color: rgb(110, 110, 110);
    --hover-highlight: rgb(45, 45, 45);
    --select-highlight: rgb(80, 80, 80);
}