@use "sass:math";

.window {
    background-color: var(--window-bg-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-color);
    min-height: calc(50vh - 10px - 8px * 2);
    max-height: calc(50vh - 10px - 8px * 2);
    border-radius: 0.25rem;
    overflow: auto;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-color);
        border-radius: 0.25rem;
    }
}

.container {
    margin: 5px auto 5px auto;
}

.xxl {
    @media screen and (min-width: 1500px) {
        flex: 0 0 math.div(100%, 3);
    }
}
