.inspector {
    background-color: var(--background-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-color);
    min-height: 250px;
    max-height: 430px;
    border-radius: 0.25rem;
    overflow: auto;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(128, 128, 128);
        border-radius: 0.25rem;
    }
}

.inspector-param-box-container {
    margin: 5px auto 5px auto;
}