.menu-window {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    min-height: 457px;
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.line {
    color: var(--border-color);
    background-color: var(--border-color);
    height: 1px;
    margin: 5px 0 5px 0;
}

.container {
    margin: 5px auto 5px auto;
}

.text {
    color: var(--foreground-color);
    font-size: 1.15rem;
    padding-bottom: 5px;
}