.window {
    background-color: var(--window-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    min-height: calc(50vh - 10px - 8px * 2);
    max-height: calc(50vh - 10px - 8px * 2);
}

.container {
    margin: 5px auto 5px auto;
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

.line {
    color: var(--border-color);
    background-color: var(--border-color);
    height: 1px;
    margin: 5px 0 5px 0;
}

.selection {
    background-color: var(--window-gb-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    &:hover {
        background-color: var(--hover-highlight);
        border-color: var(--border-color);
        color: var(--text-color);
    }
    &:active,
    &.active,
    &:focus {
        background-color: var(--window-bg-color);
        border-color: var(--border-color);
        color: var(--text-color);
        box-shadow: none;
    }
}

.text {
    color: var(--text-color);
    font-size: 1.15rem;
    padding-bottom: 5px;
}

.button {
    width: 77px !important;
}
