.param-box {
    margin: 10px 0 10px 0;
    width: 100%;
    border-width: 1px;
    border: 1px solid var(--border-color);
}

.param-box-name {
    color: var(--foreground-color);
    line-height: 1.5;
    padding: 2px 0 2px 2px;
}

.param-box-input {
    width: 100%;
    line-height: 1.5;
    padding: 2px 0 2px 2px;
    color: var(--foreground-color);
    border: none;
    outline: 1px solid var(--border-color);
    background-color: var(--background-color);
}