.window {
    margin: 8px;
    background-color: var(--window-bg-color);
    border: var(--border-color) solid 1px;
    border-radius: 0.25rem;
    min-height: calc(100vh - 18px * 2);
    max-height: calc(100vh - 18px * 2);
    @media screen and (max-width: 991px) {
        // xs
        min-height: calc(100vw - 34px);
        max-height: calc(100vw - 34px);
    }
}
