.window {
    background-color: var(--window-bg-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-color);
    min-height: calc(50vh - 10px - 8px * 2);
    max-height: calc(50vh - 10px - 8px * 2);
    border-radius: 0.25rem;
}

.list {
    max-height: calc(50vh - 10px - 8px * 2 - 33px);
    padding-bottom: 1px;
    margin-bottom: 5px;
    overflow:auto;
    padding-right: 0;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-color);
        border-radius: 0.25rem;
    }
}
