.shapes-generator {
    padding: 7px;
    &:focus {
        outline: none;
        border: none;
    }
}

.col-previewer {
    padding: 8px !important;
}

.col-user-interface {
    padding: 0 8px 8px 8px !important;
}