.shape-list-item {
    background-color: var(--background-color);
    color: var(--foreground-color);
    width: 100%;
    border-radius: unset !important;
    padding: 0;
    border-width: 1px !important;
    outline: 1px solid var(--border-color);
    line-height: normal;
    z-index: 0;
    &:hover {
        background-color: var(--hover-highlight);
        z-index: 0;
    }
    &:focus {
        background-color: var(--background-color);
        outline: 1px solid var(--border-color);
        z-index: 0;
    }
}

.shape-list-item-active {
    background-color: var(--select-highlight) !important;
    margin-top: 0 !important;
    border-width: 1px !important;
    outline: 1px solid var(--border-color) !important;
    border-color: var(--select-highlight) !important;
    z-index: 0 !important;
}

.shape-list-item-text {
    width: 100%;
    line-height: 1.5;
    padding: 2px 0 2px 2px;
    color: var(--foreground-color);
    &:focus-visible {
        outline: none;
    }
}

.shape-list-item-input {
    width: 100%;
    line-height: 1.5;
    padding: 2px 0 2px 2px;
    color: var(--foreground-color);
    border: 0;
    background-color: var(--input-bg-color);
    &:focus {
        outline: none;
        border: none !important;
    }
}
