.menu {
    height: 30px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-bottom-color: var(--border-color);
}

.pulldown {
    background: none;
    height: 100%;
    color: var(--text-color);
    line-height: 1.5;
    padding: 2px 0 2px 2px;
    width: 70%;
    border: none;
    border-radius: 0.25rem;
    &:hover {
        background-color: var(--hover-highlight);
    }
    &:focus {
        background-color: var(--hover-highlight);
        outline: none;
    }
}

.option {
    background-color: var(--window-bg-color);
    color: var(--text-color);
    padding-left: 2px;
    border: none;
    &:hover {
        background-color: var(--hover-highlight);
    }
    &:focus {
        background-color: var(--window-bg-color);
        outline: none;
    }
}

.add {
    background: none;
    color: var(--text-color);
    height: 100%;
    width: 30%;
    border-width: 0 0 0 1px;
    border-left-color: var(--border-color);
    &:hover {
        border-style: solid;
        border-width: 0 0 1px 1px;
        border-bottom-color: var(--border-color);
        background-color: var(--hover-highlight);
    }
    &:focus {
        outline: 0;
        background-color: var(--hover-highlight);
        border-style: solid;
        border-width: 0 0 1px 1px;
        border-bottom-color: var(--border-color);
    }
}
