.shape-list-item {
    outline: 1px solid var(--border-color);
}

.shape-list-item-text {
    width: 100%;
    line-height: 1.5;
    padding: 2px 0 2px 2px;
    color: var(--text-color);
    &:focus-visible {
        outline: none;
    }
}

.shape-list-item-input {
    width: 100%;
    line-height: 1.5;
    padding: 2px 0 2px 2px;
    color: var(--text-color);
    border: 0;
    background-color: var(--input-bg-color);
    &:focus {
        outline: none;
        border: none !important;
    }
}
