body {
    background-color: rgb(0, 0, 0);
}

:root {
    --foreground-color: rgb(212, 212, 212);
    --background-color: rgb(16, 16, 16);
    --border-color: rgb(110, 110, 110);
    --hover-highlight: rgb(45, 45, 45);
    --select-highlight: rgb(80, 80, 80);
}

.shapes-generator {
    padding: 7px
}

.col-previewer {
    padding: 8px !important;
}

.previewer-window {
    background-color: var(--background-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-color);
}

.col-user-interface {
    padding: 8px !important;
}

.col-shape-list {
    padding-right: 8px !important;
}

.col-menu {
    padding-left: 8px !important;
}

.user-interface {
    padding: 0 0 !important;
}

.inspector {
    background-color: var(--background-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-color);
    min-height: 250px;
    max-height: 430px;
    margin-bottom: 15px;
}

.inspector-param-box-container {
    margin: 10px 0 0 0;
}

.inspector-param-box {
    margin: 10px 0 10px 0;
    width: 100%;
    border-width: 1px;
    border: 1px solid var(--border-color);
}

.inspector-param-box-name {
    color: var(--foreground-color);
    line-height: 1.5;
    padding: 2px 0 2px 2px;
}

.inspector-param-box-input {
    width: 100%;
    line-height: 1.5;
    padding: 2px 0 2px 2px;
    color: var(--foreground-color);
    border: none;
    outline: 1px solid var(--border-color);
    background-color: var(--background-color);
}

.inspector-double-param-box-col {
    padding: 0;
}

.inspector-double-param-box-inputs {
    border: none;
    outline: 1px solid var(--border-color);
}

.inspector-double-param-box-sub-name {
    text-align: center;
    color: var(--foreground-color)
}

.shape-list {
    max-height: 420px;
    padding-bottom: 1px;
    margin-bottom: 5px;
}

.shape-list-window {
    background-color: var(--background-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-color);
    min-height: 250px;
    max-height: 457px;
    margin-bottom: 5px;
}

.shape-list-menu {
    height: 30px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-bottom-color: var(--border-color);
}

.shape-list-menu-pulldown {
    height: 100%;
    background: none;
    color: var(--foreground-color);
    line-height: 1.5;
    padding: 2px 0 2px 2px;
    width: 60%;
    border: none;
}

.shape-list-menu-pulldown:hover {
    background-color: var(--hover-highlight);
}

.shape-list-menu-pulldown:focus {
    outline: none;
}

.shape-list-menu-pulldown-option {
    background-color: var(--background-color);
    color: var(--foreground-color);
    padding-left: 2px;
    border: none;
}

.shape-list-menu-pulldown-option:hover {
    background-color: var(--hover-highlight);
}

.shape-list-menu-pulldown-option:focus {
    background: none;
    outline: none;
}

.shape-list-menu-add {
    height: 100%;
    background: none;
    color: var(--foreground-color);
    width: 40%;
    border-width: 0 0 0 1px;
    border-left-color: var(--border-color);
}

.shape-list-menu-add:hover {
    border-style: solid;
    border-width: 0 0 1px 1px;
    border-bottom-color: var(--border-color);
    background-color: var(--hover-highlight);
}

.shape-list-menu-add:focus {
    outline: none;
    /* background-color: rgba(212, 212, 212, 0.6); */
}

.shape-list-item {
    background-color: var(--background-color);
    width: 100%;
    border-radius: unset !important;
    /* margin: 1px 0 1px 0; */
    padding: 0;
    border-width: 1px !important;
    outline: 1px solid var(--border-color);
    /* outline-offset: 1px; */
    line-height: normal;
    z-index: 0;
}

.shape-list-item:hover {
    background-color: var(--hover-highlight);
    color: var(--foreground-color);
    z-index: 0;
}

.shape-list-item:focus {
    background-color: var(--background-color);
    outline: 1px solid var(--border-color);
    z-index: 0;
}

.shape-list-item-active {
    background-color: var(--select-highlight) !important;
    margin-top: 0 !important;
    border-width: 1px !important;
    outline: 1px solid var(--border-color) !important;
    border-color: var(--select-highlight) !important;
    z-index: 0 !important;
}

.shape-list-item-text {
    width: 100%;
    line-height: 1.5;
    padding: 2px 0 2px 2px;
    color: var(--foreground-color);
}

.shape-list-item-input {
    width: 100%;
    line-height: 1.5;
    padding: 2px 0 2px 2px;
    color: var(--foreground-color);
    border: 0;
    background-color: var(--background-color);
}

.shape-list-item-input:focus {
    outline: none;
    border: none !important;
}

.menu {
    background-color: var(--background-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-color);
    min-height: 457px;
}